.project {
    position: relative;
    width: 80%;
    margin: 80px auto;
}

.project .box {
    border-radius: 10px;
    position: relative;
}

.project .box:hover {
    background: none;
    transform: translateY(0);
    color: black;
}

.project .img {
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
}

.project img {
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
}

.project .box .img:hover img {
    transform: scale(1.2);
}

.heading {
    margin: 50px 0 50px 0;
}

.heading h4 {
    color: #ff014f;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.see-btn {
    padding: 18px 30px;
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #ff014f;
    margin-left: 50%;
    font-weight: bold;
}

.see-btn {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.see-btn:hover {
    background: #ff014f;
    color: white;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
}

.project .category span {
    color: #ff014f;
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .left, .right {
        width: 100%;
    }

    .see-btn {
        padding: 18px 30px;
        border-radius: 6px;
        transition: 0.3s all ease;
        cursor: pointer;
        color: #ff014f;
        margin-left: 35%;
    }

    .home-btn {
        margin-top: 20px;
    }
}
